# Homework #01 ML Zoomcamp

* Import the necessary libraries for the project.

In [1]:
import pandas as pd
import numpy as np

## Question 01
Version of Pandas

In [2]:
pd.__version__

'2.1.0'

## Question 02
Number of columns in the dataset

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")
len(df.columns)

10

## Question 03
Select columns with missing data

In [10]:
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

The dataframe has 20640 entries and in total_bedrooms it records 20433 non-null entries which means that we have data of type NaN.

## Question 04
Number of unique values in the 'ocean_proximity' column

In [13]:
len(np.unique(df["ocean_proximity"]))

5

## Question 05
Average value of the 'median_house_value' for the houses near the bay

In [17]:
median_value_house = df["median_house_value"]
median_value_house[df["ocean_proximity"] == "NEAR BAY"].mean()

259212.31179039303

## Question 06
Has the mean value changed after filling missing values?

In [11]:
df = df.fillna(0)
median_value_house = df["median_house_value"]
median_value_house[df["ocean_proximity"] == "NEAR BAY"].mean()

259212.31179039303

## Question 7
Value of the last element of w

In [14]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,532.476211,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,422.678333,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,0.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,292.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,431.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000